@using Proyecto.Clases;
@model IEnumerable<MedicrecetasCLS>
@{
    ViewData["Title"] = "IndexMedicrecetas";
}

<h1>IndexMedicrecetas</h1>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.clvmedicamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clvreceta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (MedicrecetasCLS med in Model)
        {
            <tr>
                <td>
                    @med.clvmedicamento
                <td>
                    @med.clvreceta
                </td>
                <td>
                    @med.descripcion
                </td>

            </tr>
        }
    </tbody>


</table>

