@using Proyecto.Clases;
@model IEnumerable<EspecialidadCLS>
@{
    ViewData["Title"] = "IndexEspecialidad";
  

}

<div class="container-fluid px-4">
    <h1 class="mt-4">Especialidad</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item">Especialidad</li>
        <li class="breadcrumb-item active">Consultar</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Información de la Especialidad
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.clvespecialidad)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.especialidad)
                        </th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (EspecialidadCLS esp in Model)
                    {
                        <tr>
                            <td>
                                @esp.clvespecialidad
                            <td>
                                @esp.especialidad
                            </td>
                            <td><a asp-action="EditarEspecialidad" asp-controller="Especialidad" asp-route-id="@esp.clvespecialidad"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
                            <td><a href="#" onclick="Eliminar(@esp.clvespecialidad)"><i class="fa fa-trash" aria-hidden="true"></i></a></td>

                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

<form asp-action="EliminarEspecialidad" asp-controller="Especialidad" method="post" id="frmEliminar">
    <input type="hidden" id="txtclvespecialidad" name="clvespecialidad" /> <!--aqui lo ocultamos ya que no es necesario que se vea-->
</form>

<script src="~/js/sweetalert.js"></script>
<script src="~/js/alerts.js"></script>
<script>
    function Eliminar(clvespecialidad) {
        document.getElementById("txtclvespecialidad").value = clvespecialidad;
        mostrarModal().then((res) => {
            if (res.isConfirmed) {
                var frmEliminar = document.getElementById("frmEliminar");
                frmEliminar.submit();
            }
        })
    }
</script>


